@charset "UTF-8";

body {
    background-color: red;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

#conteudo_principal {
    text-align: center;
    color: white;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}