@charset "UTF-8";

/* Iphone SE, Iphone XR, Iphone Pro 12, Pixel 5, Samsung Galaxy S8+,
Samsung Galaxy S20 ULTRA, Surface Duo, Galaxy Fold, Samsung Galaxy A51/71*/
@media screen and (max-width: 600px) {
    body {
        background-color: blue;
    }

    #botoes button{
        padding: 25px;
        width: 133px;
        gap: 0.5em;
    }
}




/* Ipad Mini*/
@media screen and (min-width: 600px) and (max-width: 992px) {

    #botoes {
        gap: 2em;
    }

    #botoes button {
        padding: 50px;
        width: 230px;
        font-size: 2em;
    }

   
}

/* Ipad Air, Surface Pro 7*/
@media screen and (min-width: 769px) and (max-width: 992px) {
   
}



@media screen and (min-width: 1200px) {

    body {
        display: flex;
        justify-content: center;
        height: 100vh;
        align-items: center;
    }
    

    #botoes button {
        padding: 25px;
        width: 15em;
        
    }


}

body {
    background-color: blue;
    display: flex;
    height: 100vh;
    justify-content: center;
    align-items: center;
}

#conteudo_principal {
    color: white;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-align: center;
}

#botoes {
   
    padding: 10px;
    display: flex;
    justify-content: space-around;
}

#botoes button {

    border-radius: 10px;
    border: none;
    box-shadow: 3px 3px 15px black;
    transition: 0.5s;
}


#btnNao:hover {
    color: white;
    background-color: red;
}

#btnSim:hover {
    color: white;
    background-color: green;
}
